* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	background-color: #FDD7E4;
}

a {
	color: blue;
	text-decoration: none;
}


.navbar {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar h1 {
	font-size: 40px;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% { background-position: 0 0 }
    100% { background-position: -500px 0 }
}

.navbar h3{
	color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}

.footer {
	width: 100%;
	height: 10vh;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer p {
	background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2b, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 15x;

  /* text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa; */
}

.book-list {
  min-height:80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center; 
}

.book-list h4 {
	padding: 5px;

    font-family: Arial Black, Gadget, sans-serif;
    -webkit-animation: animatedBackground_b 5s linear infinite alternate;
}

@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ffb9}
    50% {color: #00b9ff}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000}
}


.favorites {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.book-details {
	background: #C9C0BB;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* text-align: center; */
  padding: 10px;
}

.book-image {
  margin: 0 20px;
}

.book-image h2 {
	padding: 10px 0;
}

.book-details img {
	width: 300px;
  height: 400px;
}

.book-description {
  margin: 0x 10px;
}

img{
  width: 300px;
  height: 300px;
  transition: all 0.3s ease;
 
}

img:hover{
 transform: scale(1.1);
}

.book{
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 20px 0;
 background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}


button{
	/* padding-top: 10px;
	background:black;
	color: white;
	width: 300px;
	font-size: 20px;
	border-radius: 5px; */

color: #db3eb1;
 background-color: black;
  border: 5px solid #A7F432;
  width: 300px;
  border-radius:10px;
  padding: 15px 25px;
  font-size: 15px;
  letter-spacing:5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
  transition: .5s;
}

button:hover {
  color: black;
  background-color: #64609A;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
}


 